<div class="container my-5">
    <section class="dark-grey-text text-center">
        <h3 class="font-weight-bold black-text mb-2 pb-2">Auto Ecole</h3>
        <hr class="w-header">
        <p class="lead text-muted mx-auto ">It's really easy to create a landing page for your awesome
            product.It's really easy to create a landing page for your awesome product.It's really easy to create a
            landing page for your awesome product.It's really easy to create a landing page for your awesome
            product.</p>
        <div class="row">
            <div class="col-md-7">

                <div class="view">
                    <img src="https://i.skyrock.net/5489/64905489/pics/2666946480_1.jpg" class="img-fluid"
                         alt="smaple image">
                </div>

            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div>

                    <h3 class="font-weight-bold mb-4">Informations</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adip elit. Maiores deleniti explicabo voluptatem
                        quisquam nulla asperiores aspernatur aperiam voluptate et consectetur minima delectus,
                        fugiat eum soluta blanditiis adipisci, velit dolore magnam.</p>

                    <button type="button" class="btn btn-orange btn-rounded mx-0">Download</button>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="container z-depth-1 my-5 " >

    <!-- Section -->
    <section>

        <h3 class="font-weight-bold text-center dark-grey-text pb-2">Auto Ecole</h3>
        <hr class="w-header my-4">
        <p class="lead text-center text-muted pt-2 pb-3 mb-5">We are so proud of our product. It's really easy to
            create a landing page for your product.</p>

        <div class="row dark-grey-text">

            <div class="col-md-6 col-xl-4 mb-4">
                <div class="media">
                    <div class="mr-4">
                        <span class="text-primary"><i class="icon-fa fas fa-file-alt fa-2x"></i></span>
                    </div>
                    <div class="media-body">
                        <h6 class="font-weight-bold">Step One</h6>
                        <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium eaque ipsa doloremque laudantium.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 mb-4">
                <div class="media">
                    <div class="mr-4">
                        <span class="text-danger"><i class="icon-fa fas fa-bullhorn fa-2x"></i></span>
                    </div>
                    <div class="media-body">
                        <h6 class="font-weight-bold">Step Two</h6>
                        <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium eaque ipsa doloremque laudantium.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 mb-4">
                <div class="media">
                    <div class="mr-4">
                        <span class="text-info"><i class="icon-fa fas fa-code fa-2x"></i></span>
                    </div>
                    <div class="media-body">
                        <h6 class="font-weight-bold">Step Three</h6>
                        <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium eaque ipsa doloremque laudantium.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 mb-4">
                <div class="media">
                    <div class="mr-4">
                        <span class="text-warning"><i class="icon-fa fas fa-comments fa-2x"></i></span>
                    </div>
                    <div class="media-body">
                        <h6 class="font-weight-bold">Step Four</h6>
                        <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium eaque ipsa doloremque laudantium.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 mb-4">
                <div class="media">
                    <div class="mr-4">
                        <span class="text-muted"><i class="icon-fa fas fa-cogs fa-2x"></i></span>
                    </div>
                    <div class="media-body">
                        <h6 class="font-weight-bold">Step Five</h6>
                        <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium eaque ipsa doloremque laudantium.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 mb-4">
                <div class="media">
                    <div class="mr-4">
                        <span class="text-success"><i class="icon-fa far fa-handshake fa-2x"></i></span>
                    </div>
                    <div class="media-body">
                        <h6 class="font-weight-bold">Step Six</h6>
                        <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium eaque ipsa doloremque laudantium.</p>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- Section -->

</div>

<div class="container z-depth-1 my-5">
    <hr class="w-header">
    <section class="text-center py-5">

        <p class="mb-4 pb-2 lead font-weight-bold">Trusted by 1 000 000 + developers &amp; designers</p>

        <!-- Logo carousel -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1800">
            <div class="carousel-inner">
                <!-- First slide -->
                <div class="carousel-item active">
                    <!--Grid row-->
                    <div class="row">

                        <!--First column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/5.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/7.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/6.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/Third column-->

                        <!--Fourth column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/9.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/Fourth column-->

                    </div>
                    <!--/Grid row-->
                </div>
                <!-- First slide -->

                <!-- Second slide -->
                <div class="carousel-item">
                    <!--Grid row-->
                    <div class="row">

                        <!--First column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/11.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/10.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/12.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/Third column-->

                        <!--Fourth column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/13.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/Fourth column-->

                    </div>
                    <!--/Grid row-->
                </div>
                <!-- Second slide -->

                <!-- Third slide -->
                <div class="carousel-item">
                    <!--Grid row-->
                    <div class="row">

                        <!--First column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/1a.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/2a.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/3a.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/Third column-->

                        <!--Fourth column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/4a.png" class="img-fluid px-4"
                                 alt="Logo">
                        </div>
                        <!--/Fourth column-->

                    </div>
                    <!--/Grid row-->
                </div>
                <!-- Third slide -->
            </div>

        </div>
        <!-- Logo carousel -->

    </section>

</div>