<footer class="page-footer font-small indigo darken-4 py-4 fixed-bottom" style="background-color: rgba(0,43,88,0.8);">

    <!-- Footer Elements -->
    <div class="container">

        <div class="row">
            <div class="col-md-6 d-flex justify-content-start">
                <!-- Copyright -->
                <div class="footer-copyrigh text-white text-center bg-transparent">© 2020 Copyright:
                    <a href="" style="color: white"> Iteam</a>
                </div>
                <!-- Copyright -->
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <ul class="list-unstyled d-flex mb-0">
                    <li>
                        <a class="mr-3 text-white" role="button"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a class="mr-3 text-white" role="button"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a class="mr-3 text-white" role="button"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- Footer Elements -->

</footer>
