{% extends 'base.html.twig' %}
{% block title%} Parametres de compte{% endblock %}

{% block body %}
    {% include('site/navbar/navbar.html.twig') %}
    <div class="container my-5">


        <!--Section: Content-->
        <section class="dark-grey-text text-center" style="margin-top: 10%">
            <!-- Section heading -->
            <h3 class="font-weight-bold black-text mb-4 pb-2">Espace formateur</h3>
            <hr class="w-header">
            <!-- Section description -->
            <p class="lead text-muted mx-auto mt-2 pt-4 mb-2">Parametres de compte</p>

            <!--First row-->
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                            <!-- Section: Block Content -->
                            <section>

                                <div class="list-group list-group-flush z-depth-1 rounded">
                                    <div class="list-group-item active d-flex justify-content-start align-items-center py-3">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle z-depth-0" width="50" alt="avatar image">
                                        <div class="d-flex flex-column pl-3">
                                            <p class="font-weight-normal mb-0">{{ app.user.username }}</p>
                                            <p class="small mb-0">{{ app.user.email }}</p>
                                        </div>
                                    </div>
                                    <a href="#!" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Role
                                        <span class="badge badge-info badge-pill">{{ app.user.roles[0] }}</span>
                                    </a>
                                    <a href="#!" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Modifier mot de passe
                                        <span class="badge badge-warning badge-pill">5 fois</span>
                                    </a>
                                    <a href="#!" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Etat
                                        <span class="badge badge-success badge-pill">10</span>
                                    </a>
                                    <a href="#!" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Nombre des connexions
                                        <span class="badge badge-danger badge-pill">728</span>
                                    </a>
                                </div>

                            </section>
                            <!-- Section: Block Content -->


                        </div>
                    </div>
                </div>
            </div>
            <!--First row-->

        </section>


    </div>
    {% include('site/footer/footer.html.twig') %}
{% endblock %}