{% extends 'base.html.twig' %}
{% block title %} Créer un questionnaire{% endblock %}

{% block body %}
    {% include('site/navbar/navbar.html.twig') %}
    <div class="container" style="margin-top: 5%" >
        <section>

            <style>
                .card-list li.page-item {
                    height: 36px;
                }
                .card-list .form-check-input[type="checkbox"] + label:before, .form-check-input[type="checkbox"]:not(.filled-in) + label:after, label.btn input[type="checkbox"] + label:before, label.btn input[type="checkbox"]:not(.filled-in) + label:after {
                    margin-top: 0;
                }
                .card-list .form-check-input[type="checkbox"] + label, label.btn input[type="checkbox"] + label {
                    height: 15px;
                }
                .card-list .form-check {
                    height: 0;
                }
                .card-list .badge {
                    height: 18px;
                    margin-top: 3px;
                }
            </style>
            <div class="container my-5">


                <!--Section: Content-->
                <section class="dark-grey-text text-center" style="margin-top: 10%">
                    <h3 class="font-weight-bold black-text mb-4 pb-2">Espace formateur</h3>
                    <hr class="w-header">
                    <!-- Section description -->
                    <p class="lead text-muted mx-auto mt-2 pt-2 mb-2">Ceation de question</p>
                    <!--First row-->
                    <div class="row">
                        <div class="card-body">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button class="btn">{{ button_label|default('Ajouter') }}</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <!--First row-->
                    <div class="row">
                        <div class="col-12 text-left">
                            <a href= "" class="btn btn-primary" style="color: white">< Retour</a>
                        </div>
                    </div>
                </section>


            </div>
        </section>
    </div>
    {% include('site/footer/footer.html.twig') %}
{% endblock %}